<!DOCTYPE html>
<html lang="en" class="bg-slate-300 dark:bg-slate-900 md:dark:bg-zinc-800 text-black font-display font-[450] dark:text-slate-100">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="/app.css" />
    <link rel="stylesheet" href="/host.css" />
    <link rel="stylesheet" href="PortfolioSite.Host.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
