<div class="bg-slate-100 dark:bg-slate-900 mt-8 px-4 pt-3 pb-2 rounded-t-md">
    <div class="flex flex-row space-x-4 align-baseline">
        <span class="text-sm tracking-wider font-normal text-shadow">Benjamin C Williams | Dev &copy; 2024</span>
        <span class="text-sm font-normal text-shadow">
            Find me on:
            <a href="https://www.linkedin.com/in/bencw" target="_blank" class="text-sm font-normal hover:underline hover:decoration-accent">LinkedIn</a>
             & 
            <a href="https://www.github.com/bcookew" target="_blank" class="text-sm font-normal hover:underline hover:decoration-accent">GitHub</a>
        </span>
    </div>
</div>